golden = 1.618

.ng-cloak
    display: none

body
    font-family: 'Quicksand', sans-serif
    //font-family: sans-serif

    h1
        font-family: 'Josefin Slab', serif
        font-size: golden**3 em
    
    h2
        margin-top: 0.5*golden**2 em
        font-size: golden**2 em
    
    h3
        margin-top: 0.5*golden em
        font-size: golden em

    ul
        list-style-type: circle

    li
        margin-top: 0.5em

    #container
        #navigation
            a#name
                color: #2B81D6
                font-size: 1em
        
            ul
                li
                    list-style-type: none
            a
                margin-top: 0.5 em
                text-decoration: none
                color: #000
                font-size: golden em
    
            a:hover
                font-weight: bold
                color: #444
        
        #content-container
            #content
                h2
                    width: 100%
                    border-bottom: thin solid #000
                    display: block
                li
                    margin-left: golden em
            
                #contact
                    //background-color: #800
                #skills
                    //background-color: #080
                #experience
                    //background-color: #008
                #education
                    //background-color: #440
                #projects
                    //background-color: #440
                    .image
                        display: inline
                        img
                            margin: 1em
                    .sketches
                        .note
                            margin: 0 0 0 1em
                        .sketch
                            display: inline
                            canvas
                                margin: 1em
                                border: thin solid #000
                #certifications
                    //background-color: #044

    @media (min-width:768px)
        #container
            #navigation
                position: absolute
                left: 0
                top: 0
                width: 20em
                height: 100%
                border-right: thin solid #000
                overflow: auto

                a#name
                    text-align: right
                    margin: 30px
                a
                    margin-right: 30px
                    text-decoration: none
                    color: #000
                    //font-size: golden em
                    display: block
                    text-align: right

            #content-container
                position: absolute
                left: 20em
                height: 100%
                right: 0
                overflow: auto

                #content
                    max-width: 800px
                    margin: 2em

    @media (min-width:1200px)
        #container
            #navigation
                width: 30%
            #content-container
                left: 30%

    @media (max-width:768px)
        //font-size: golden**2 em
        width: 100%
        #container 
            display: block
            float: left
            margin: 2em
            #navigation
                display: block
                float: left
                
                ul
                    float: left
                    display: block
                    width: 100%

                    li
                        display: inline-block

                a#name
                    margin-top: 2em
                    width: 100%
                    display: block
                    margin: 0
                    text-align: center

                a
                    float: left
                    margin-right: 1em

            #content-container
                //margin: 2em
                width: 100%
                float: left
                position: relative

                #content
                    width: 100%

                    #projects
                        .image
                            width: 300px
                            display: block
                            float: center
                            margin: auto
                            img
                                margin: 1em 0 1em 0
                        .sketches
                            .sketch
                                width: 300px
                                display: block
                                float: center
                                margin: auto

                                canvas
                                    margin: 1em 0 1em 0


    //@media (max-width:480px)
    //    //font-size: golden**2 em
    //    #container 
    //        //width: 800px
    //        #navigation
    //            a#name
    //                margin: 0
    //        //#content-container

