body
    //font-family: 'Quicksand', sans-serif
    li
        margin-top: 0.3em

h1
    font-size: 4.2em
    font-weight: 700

h2
    font-weight: 700
    margin-top: 1.2em
    font-size: 2.61em

h3
    margin-top: 0.6em
    font-size: 1.61em

.top>h2
    margin-top: 0em

#sidebar
    position: absolute
    left: 0
    top: 0
    width: 20em
    #name
        color: #2B81D6
        padding: 2em

#content-container
    position: absolute
    left: 20em
    height: 100%
    overflow: auto


    #content
        margin: 2em    

        h2
            width: 100%
            border-bottom: thick solid #000
            display: block
    
        #contact
            //background-color: #800
        #skills
            //background-color: #080
        #experience
            //background-color: #008
        #education
            //background-color: #440
        #certifications
            //background-color: #044
