golden = 1.618

body
    font-family: 'Quicksand', sans-serif

h1
    font-family: 'Josefin Slab', serif
    //font-family: serif
    font-size: golden**3 em

h2
    margin-top: 0.5*golden**2 em
    font-size: golden**2 em

h3
    margin-top: 0.5*golden em
    font-size: golden em

.top>h2
    margin-top: 0em


#sidebar
    position: absolute
    left: 0
    top: 0
    width: 20em
    #name
        text-align: right
        color: #2B81D6
        margin: 2em

    a
        text-decoration: none
        color: #000
        font-size: golden em
        display: block
        text-align: center
    a:hover
        color: #444

#content-container
    position: absolute
    left: 20em
    height: 100%
    right: 0
    overflow: auto

    #content
        margin: 2em

        h2
            width: 100%
            border-bottom: thin solid #000
            display: block
    
        #contact
            //background-color: #800
        #skills
            //background-color: #080
        #experience
            //background-color: #008
        #education
            //background-color: #440
        #certifications
            //background-color: #044
