html(x-ng-app="Portfolio")
    head
        meta(charset="utf-8")
        title Daniel Erickson
        link(rel="stylesheet" type="text/css" href="/css/reset.css")
        link(rel="stylesheet" type="text/css" href="/css/main.css")
        link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quicksand:400,700|Playfair+Display+SC|Glegoo|Josefin+Slab|Dosis")
        script(src="/js/processing.min.js")

    body(x-ng-controller="PortfolioController")
        #sidebar
            #name(x-ng-if="name")
                h1 {{name}}
            a(href="/#/experience/") Experience
            a(href="/#/projects/") Projects
            a(href="/#/education/") Education
            a(href="/#/skills/") Skills
            a(href="/#/certifications/") Certifications

        div(x-ng-view)

        script(id="data" type="application/json")!=data
        script(src="/js/underscore-min.js")
        script(src="/js/sizzle.js")
        script(src="http://code.angularjs.org/1.2.16/angular.min.js")
        script(src="http://code.angularjs.org/1.2.16/angular-route.min.js")
        script(src="http://code.angularjs.org/1.2.16/angular-sanitize.min.js")
        script(type="text/javascript" src="/js/site.js")
