html(x-ng-app="Portfolio")
    head
        meta(charset="utf-8")
        title Daniel Erickson
        link(rel="stylesheet" type="text/css" href="/css/reset.css")
        link(rel="stylesheet" type="text/css" href="/css/main.css")
        link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:400,700")

    body(x-ng-controller="PortfolioController")

        div(x-ng-view)

        script(src="http://code.angularjs.org/1.2.16/angular.min.js")
        script(src="http://code.angularjs.org/1.2.16/angular-route.min.js")
        script(type="text/javascript" src="/js/site.js")
