html(ng-app="Resume")
    head
        meta(charset="utf-8")
        title Daniel Erickson
        script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
        script(type="text/javascript" src="/js/angular.min.js")
        script(type="text/javascript" src="/js/site.js")
    body(ng-controller="ResumeController")
        .test Test

        h1(ng-if="name") {{name}}

        #contact(ng-if="contact")
            h2 Contact

        #skills(ng-if="skills")
            h2 Skills
            .skill(ng-repeat="(categoryName, category) in skills")
                h3 {{categoryName}}
                ul
                    li(ng-repeat="skill in category") {{skill}}

        #experience(ng-if="experience")
            h2 Experience
            .job(ng-repeat="job in experience")
                h3 {{job.position}}
                .company {{job.company}}
                .location {{job.location}}
                .date {{job.date}}
                .duties(ng-repeat="duty in job.duties")
                    .duty {{duty}}

        #education(ng-if="education")
            h2 Education

        #certifications(ng-if="certifications")
            h2 Certifications

