html
    head
        title Daniel Erickson
        script(type="text/javascript" src="/js/angular.min.js")
    body
        h1 Daniel Erickson
        #contact
            h2 Contact

        #skills
            h2 Skills
            h3 Programming Languages
                ul
                    li C# 
                    li Python
                    li Javascript
                    li Lua
                    li C
                    li C++
                    li Go
                    li Rust
                    li Java
                    li D
                    li Scheme
                    li ML
                    li Squirrel
            h3 Frameworks and Technologies
                ul 
                    li Django
                    li .NET
                    li NodeJS
                    li OpenGL/GLSL
                    li OpenCL
                    li CUDA
                    li Rhino ETL
                    li KnockoutJS
                    li AngularJS
                    li Unity3D
            h3 Development Tools
                ul 
                    li Vim
                    li Git
                    li SVN
                    li Visual Studio
                    li Eclipse IDE
                    li Unity3D
            h3 Testing and Deployment Tools
                ul
                    li NUnit
                    li Jenkins CI
                    li Grunt
                    li ChaiJS
                    li MochaJS
                    li Browserify
            h3 Operating Systems
                ul 
                    li Arch Linux
                    li Mac OS
                    li Ubuntu
                    li Windows
                    li HPUX
                    li Sun OS
                    li AIX

        #experience
            h2 Experience
        #education
            h2 Education
        #certifications
            h2 Certifications

